<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        a {
            color:blue;
            text-decoration: none
        }
        a:hover {
            text-decoration: underline;
        }
        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<h1>Prediction of stations and plugs states</h1>

<p>This is a web application for predicting the states of stations and plugs in Trentino Alto Adige.</p>

<ul>
<li><a href="/stations/all">See all stations available and their specifics</a></li>
<li><a href="/stations/id">See specifics of a station and its plugs</a></li>
<li><a href="/predict">Make predictions</a></li>
</ul>
</body>
</html>