<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select station</title>
    <style>
        a {
            color:blue;
            text-decoration: none
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div style="overflow: hidden;">
    <h2 style="display: inline;  margin-right: 3em;">Insert the ID of the station you want to check.</h2>
    <a href="/">Go home</a>
</div>
<form method="POST">
    <label style="display:block">Station ID</label>
    <input name="id">
    <input type="submit">
</form>
</body>

</html>